.popup__close-button {
  position: absolute;
  background-image: url("./../../../images/closeIcon.svg");
  background-color: transparent;
  margin: 0;
  padding: 0;
  border:none;
  background-size: cover;
  box-sizing: border-box;

  width: 37px;
  height: 37px;
  left: calc(100% - 37px);
  bottom: calc(100% + 13px);
  transition: opacity .25s ease-in;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity .25s ease-in;
}

@media screen and (min-width: 618px) {
  .popup__close-button {
    width: 57px;
    height: 57px;
    left: calc(100% - 10px);
    bottom: calc(100% - 10px);
  }
}
