.card__edit-button {
  width: 20px;
  height: 19.3px;
  cursor: pointer;
  background-color: transparent;
  background-image: url("./../../../images/editAvatarIcon.svg");
  background-size: cover;
  border: none;
  visibility: hidden;
  transition: opacity .25s ease-in;
}

.card__edit-button:hover {
  opacity: .6;
  transition: opacity .25s ease-in;
}
