.popup_type_view-author {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 5px;
  padding: 10px;
  min-width: 140px;
  max-width: 200px;
  z-index: 1;
}
